*{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #201313;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 20px 40px;
    box-shadow:0px 5px 10px rgba(172, 2, 2, 0.223) ;
    /* box-shadow: ; */
}
.botLogo{
    display: flex;
    justify-content: center;
}
.botLogo img{
    width: 50px;
}
.botLogo p{
    font-family: "Changa One", sans-serif;
    font-size: 27px;
}
.navList p i{
    margin-left: 7px;
}
.navList p{
   font-size: 15px; 
}
.navList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.getStarted{
    background-color: #E03131;
    color: white;
    padding: 10px 30px;
    border-radius:30px;
    font-size: 18px;
    border: none;
    font-weight: 600;
}
.getStarted:hover{
    border: solid 2px white;
}
section{
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
}
.container1{
    width: 50%;
}
.container2{
    width: 50%;
    /* padding: 20px; */
    
}
.container2 .imgContainer{
    display: flex;
    justify-content:center;
    gap: 50px;
}
.container2 .imgBox{
    height: 250px;
    margin: 5px;
    width: 250px;
    border-radius: 50px 0 50px 0;
}
.container2 .imgContainer .imgBox1{
    margin-top: 100px;
}
.imgContainer2{
    justify-content:space-around;
    display: flex;
    margin-top: -50px;
}
.imgBox3{
    
}